@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<!--/.Carousel Wrapper-->
<div class="col-sm-12 col-md-12 col-lg-12">
    <h3 class="text-center">Headlines</h3>
</div>
<div class="container-1">
    <div class="row">
        <div class="col-sm-4">
            <diV class="card">
                <div class="card-header">
                    <h4>Cheese Cakes</h4>
                </div>
                <div class="card-body">
                    <img src="~/Content/images/img3.jpg" alt="sometext" class="img-thumbnail" />
                </div>
                <div class="card-footer">
                    Buy one get one free
                </div>
            </diV>
        </div>
        <div class="col-sm-4">
            <diV class="card">
                <div class="card-header">
                    <h4>Apple computer</h4>
                </div>
                <div class="card-body">
                    <img src="~/Content/images/img1.jpg" alt="Cheese cakes" class="img-thumbnail" />
                </div>
                <div class="card-footer">
                    Buy one get one free
                </div>
            </diV>
        </div>
        <div class="col-sm-4">
            <diV class="card">
                <div class="card-header">
                    <h4>Desktop Computers</h4>
                </div>
                <div class="card-body">
                    <img src="~/Content/images/img2.jpg" alt="computers" class="img-thumbnail" />
                </div>
                <div class="card-footer">
                    Buy one get one free
                </div>
            </diV>
        </div>
    </div>
</div>
